rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rsvps/{rsvpId} {
      allow create: if request.resource.data.name is string
        && request.resource.data.name.size() > 0
        && request.resource.data.attendance is string
        && request.resource.data.attendance in ['accept', 'decline'];

      allow read: if true;
      allow update, delete: if false;
    }
  }
}
